<div id='map'></div>
<style>
#map {
  height: 600px;
  width: 1000px;
}
</style>
<%= form_with model: @pin do |f| %>
<script>
// 初期マップの設定
var map;
var clickedLines;
var marker;
function initMap() {
  // 東京駅中心に表示
  const center = {lat: 35.68143661184076, lng:139.7671569811205};
  const options = {zoom: 15, scaleControl: true, center: center};
  map = new google.maps.Map(
    document.getElementById('map'), options);
  clickedLines = new google.maps.Polyline({
    geodesic: true,
    strokeColor: "#3333FF",
    strokeOpacity: 1.0,
    strokeWeight: 3
  });
  // マップにクリックイベントを設定
  google.maps.event.addListener(map, 'click', function(event) {
    // クリック時の位置を渡す
    drawOneLine(event.latLng);
    });
  }
  function drawOneLine(latLng) {
    var path = clickedLines.getPath();
    if ( path.length == 0 ) {
      createMarker(latLng);
      document.getElementById('txtLatLng').value = latLng;
    } else {
      document.getElementById('txtLatLng').value = document.getElementById('txtLatLng').value + "\n" + latLng;
    }
    path.push(latLng);

    clickedLines.setMap(map);
  }

  function createMarker(latLng) {
    marker = new google.maps.Marker({
    position: latLng,
    map: map,
    title: '最初の位置'
    });
  }
  function deleteAllLines() {
    var path = clickedLines.getPath();
    if ( path != undefined ) {
      if ( path.length >= 0 ){
        do {
          if ( path.length == 0 ) break;
          path.pop();
        } while(1);
      }

    }
    document.getElementById('txtLatLng').value = "";
    if ( marker != undefined ) {
      marker.setMap(null);
    }
    if ( clickedLines != undefined ) {
      clickedLines.setMap(null);
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>


<div id="map_canvas"></div>
<br />
<textarea style="height:10%;width:80%;margin-left:20px;margin-bottom:10px;" id="txtLatLng"></textarea>
<br />
<input type="button" value="線を消す"  onclick="deleteAllLines();" style="margin-left:20px;"/>





  <div>
    <%= f.hidden_field :latitude, :placeholder =>"緯度", id: :latitude %>
    <%= f.hidden_field :longitude, :placeholder =>"経度", id: :longitude %>
    <%= f.hidden_field :stroll_id, :value => @stroll_id %>
    <%= f.submit %>
  </div>
<% end %>