<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="検索" onclick="codeAddress()">
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 1000px;
}
</style>

<script>
// 初期マップの設定
var map;
function initMap() {
  // 東京駅中心に表示
  const center = {lat: 35.68143661184076, lng:139.7671569811205};
  const options = {zoom: 15, scaleControl: true, center: center};
  map = new google.maps.Map(
    document.getElementById('map'), options);
  //mapをクリックしたときのイベントを設定
  google.maps.event.addListener(map, 'click', mylistener);
  //クリックしたときの処理
  function mylistener(event){
    //marker作成
    var marker = new google.maps.Marker();
    //markerの位置を設定
    //event.latLng.lat()でクリックしたところの緯度を取得
    marker.setPosition(new google.maps.LatLng(event.latLng.lat(), event.latLng.lng()));
    //marker設置
    marker.setMap(map);
  }
  // marker間にポリラインを描く
  var line = new google.maps.Polyline({path: [marker.fist()], map: map});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>

<%= form_with model: @pin do |f| %>
  <div>
    <%= f.hidden_field :latitude, :placeholder =>"緯度", id: :latitude %>
    <%= f.hidden_field :longitude, :placeholder =>"経度", id: :longitude %>
    <%= f.hidden_field :stroll_id, :value => @stroll_id %>
    <%= f.submit %>
  </div>
<% end %>