<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="検索" onclick="codeAddress()">
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
// Initialize and add the map
var map;

function initMap() {
  // 初期マップの設定
  const center = {lat: 35.6803997, lng:139.7690174};
  const options = {zoom: 15, scaleControl: true, center: center};
  map = new google.maps.Map(
      document.getElementById('map'), options);
  //mapをクリックしたときのイベントを設定
  google.maps.event.addListener(map, 'click', mylistener);

  //クリックしたときの処理
  function mylistener(event){
    //marker作成
    var marker = new google.maps.Marker();
    //markerの位置を設定
    //event.latLng.lat()でクリックしたところの緯度を取得
    marker.setPosition(new google.maps.LatLng(event.latLng.lat(), event.latLng.lng()));
    //marker設置
    marker.setMap(map);
  }
  // マーカー間にポリラインを描く
  var line = new google.maps.Polyline({path: [marker, marker], map: map});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>

<%= form_with model: @pin do |f| %>
  <div>
    <%= f.hidden_field :latitude, :placeholder =>"緯度", id: :latitude %>
    <%= f.hidden_field :longitude, :placeholder =>"経度", id: :longitude %>
    <%= f.hidden_field :stroll_id, :value => @stroll_id %>
    <%= f.submit %>
  </div>
<% end %>