<h1>愛犬情報の登録</h1>
<!--「先に愛犬情報を登録してください」のメッセージ-->
<div>
　<span class="text-danger"><%= flash[:notice] %></span>
</div>
<!--名前かサイズが空白だった場合にエラー表示-->
<% if @my_dog.errors.any? %>
   <span class="text-danger"><%= @my_dog.errors.count %>件のエラーが発生しました</span>
   <ul>
      <% @my_dog.errors.full_messages.each do |message| %>
         <li><%= message %></li>
      <% end %>
   </ul>
<% end %>

<%= form_with model: @my_dog do |f| %>
  <p>愛犬の名前</p>
  <%= f.text_field :name %>
  <p>サイズ</p>
<!--小型犬-->
  <%= f.radio_button :size, "small_size_dog" %>
  <%= f.label :size, MyDog.sizes_i18n[:small_size_dog] %>
<!--中型犬-->
  <%= f.radio_button :size, "medium_size_dog" %>
  <%= f.label :size, MyDog.sizes_i18n[:medium_size_dog] %>
<!--大型犬-->
  <%= f.radio_button :size, "large_scale_dog" %>
  <%= f.label :size, MyDog.sizes_i18n[:large_scale_dog] %>
  <p>愛犬の誕生日(不明な場合は選択せず登録してください)</p>
  <%= f.date_field :birthdate %>
  <p>愛犬の写真</p>
  <%= f.file_field :dog_image, accept: "image/*" %>
  <%= f.submit '登録' %>
<% end %>
