<h1><%= @diary.diary_date %>の編集画面</h1>
<%= image_tag @diary.my_dog.get_dog_image(80,80) %>
<%= @diary.my_dog.name %>
<%= form_with model: @diary do |f| %>
  <div>
    <p>今日のひとこと</p>
    <%= f.text_area :memo %>
    <p>食欲</p>
    <%= f.radio_button :appetite, @appetites.key(0) %>
    <%= f.label :a_little, Diary.appetites_i18n[:a_little] %><br />
    <%= f.radio_button :appetite, @appetites.key(1) %>
    <%= f.label :slightly_less, Diary.appetites_i18n[:slightly_less] %><br />
    <%= f.radio_button :appetite, @appetites.key(2) %>
    <%= f.label :usually, Diary.appetites_i18n[:usually] %><br />
    <%= f.radio_button :appetite, @appetites.key(3) %>
    <%= f.label :good, Diary.appetites_i18n[:good] %><br />
    <%= f.radio_button :appetite, @appetites.key(4) %>
    <%= f.label :excellent, Diary.appetites_i18n[:excellent] %><br />
    <p>排せつ</p>
    <%= f.radio_button :excreta, @excreta.key(0) %>
    <%= f.label :a_little, Diary.excreta_i18n[:a_little] %><br />
    <%= f.radio_button :excreta, @excreta.key(1) %>
    <%= f.label :slightly_less, Diary.excreta_i18n[:slightly_less] %><br />
    <%= f.radio_button :excreta, @excreta.key(2) %>
    <%= f.label :usually, Diary.excreta_i18n[:usually] %><br />
    <%= f.radio_button :excreta, @excreta.key(3) %>
    <%= f.label :good, Diary.excreta_i18n[:good] %><br />
    <%= f.radio_button :excreta, @excreta.key(4) %>
    <%= f.label :excellent, Diary.excreta_i18n[:excellent] %><br />

    <%= f.submit "変更" %>
  </div>
<% end %>