<div class="container_fuluid diary-image jumbotron m-0 p-0" style="width: 100%; height: 100%;">
  <div class="box-8 p-4">
    <!--画面幅 992px 以上-->
    <div class="d-none d-lg-block">
      <div class="row justify-content-center">
        <% if @user.my_dogs.length >= 2 %>
          <!--多頭飼いの方向けの表示-->
          <span>
            愛犬ごとにカレンダーが表示されます<br>
            それぞれのカレンダーの日付を選択して、日記を作成してください<br>
          </span>
        <% else %>
          <!--一頭飼いの方向けの表示-->
          <span>
            カレンダーの日付を選択して、日記を作成してください<br>
          </span>
        <% end %>
      </div>
      <div class="row mt-3 justify-content-center">
        <!--アイコン紹介-->
        <span>
          <%= image_tag('food.png') %>：食欲、
          <%= image_tag('dookie.png') %>：排せつ、
          <%= image_tag('time.png') %>：散歩時間、
          <%= image_tag('distance.png') %>：散歩距離、
          <%= image_tag('speed.png') %>：散歩のスピード
        </span>
      </div>
      <!--愛犬ごとのカレンダー表示-->
      <% @my_dogs.each do |my_dog| %>
        <div class="mb-4 border-top border-pink">
          <div class="row mt-5 ml-5">
            <div class="mr-4 h3 font-weight-bold"><%= my_dog.name %>ちゃんのカレンダー</div>
            <div class="m-0 p-0">
              <%= image_tag my_dog.get_dog_image(100,100) %>
            </div>
          </div>
          <%= month_calendar do |date| %>
            <!--カレンダーの日付に日記を記録済みの場合-->
            <% if Diary.where(diary_date: date.strftime("%Y年%-m月%-d日"), my_dog_id: my_dog.id ).exists? %>
              <!--日付選択で登録済の日記ページへ遷移する-->
              <%= link_to diary_path(my_dog.diaries.find_by(diary_date: date.strftime("%Y年%-m月%-d日")).id) do %>
                <!--該当の日付と愛犬IDでデータ検索-->
                <% diary = Diary.find_by(diary_date: date.strftime("%Y年%-m月%-d日"), my_dog_id: my_dog.id) %>
                <span class="text-success"><%= date.day %></span><br>
                <div class="row justify-content-center">
                  <div class="col-10">
                    <span class="text-dark"><%= image_tag('food.png') %> <%= diary.appetite_i18n %></span><br>
                    <span class="text-dark"><%= image_tag('dookie.png') %> <%= diary.excreta_i18n %></span><br>
                    <!--一日トータルの散歩距離-->
                    <% @total_dist1 = 0 %>
                    <!--一日トータルの散歩時間-->
                    <% @total_min = 0 %>
                    <% diary.strolls.all.each do |stroll| %>
                      <!--1回の散歩ごとの散歩距離（複数のポリラインの合計距離）-->
                      <% @total_dist2 = 0 %>
                      <% stroll.pins.all.each do |pin| %>
                        <% @total_dist2 += pin.distance %>
                      <% end %>
                      <% @total_dist1 += @total_dist2 %>
                      <% @total_min += stroll.time_of_stroll %>
                    <% end %>
                    <% if @total_min != 0 %>
                      <!--一日のトータル散歩時間が0分以外ならトータル時間、距離、スピードを表示する-->
                      <span class="text-dark"><%= image_tag('time.png') %> <%= @total_min %> 分</span><br>
                      <span class="text-dark"><%= image_tag('distance.png') %> <%= @total_dist1.to_i %> m</span><br>
                      <span class="text-dark">
                        <%= image_tag('speed.png') %> <%= @total_dist1.to_i / @total_min %> m／分
                      </span>
                    <% else %>
                      <!--一日のトータル散歩時間が0分ならイメージと「散歩お休み」を表示する-->
                      <div class="m-0 p-0 media diaries-image1 jumbotron" style="width: 80px; height: 80px;"></div>
                      <div class="text-dark">散歩お休み</div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <!--日記の記録が無ければ日記の新規登録ページへ遷移する（カレンダーで選択した日付データも送信する）-->
              <%= link_to new_diary_path(date: date.strftime("%Y年%-m月%-d日"), dog_id: my_dog.id) do %>
                <span class="text-success"><%= date.day %></span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <!--画面幅 768px以上 992px 未満は散歩スピード非表示-->
    <div class="d-none d-md-block d-lg-none">
      <div class="row justify-content-center">
        <% if @user.my_dogs.length >= 2 %>
          <!--多頭飼いの方向けの表示-->
          <span>
            愛犬ごとにカレンダーが表示されます<br>
            それぞれのカレンダーの日付を選択して、日記を作成してください<br>
          </span>
        <% else %>
          <!--一頭飼いの方向けの表示-->
          <span>
            カレンダーの日付を選択して、日記を作成してください<br>
          </span>
        <% end %>
      </div>
      <div class="row mt-3 justify-content-center">
        <!--アイコン紹介-->
        <span>
          <%= image_tag('food.png') %>：食欲、
          <%= image_tag('dookie.png') %>：排せつ、
          <%= image_tag('time.png') %>：散歩時間、
          <%= image_tag('distance.png') %>：散歩距離
        </span>
      </div>
      <!--愛犬ごとのカレンダー表示-->
      <% @my_dogs.each do |my_dog| %>
        <div class="mb-4 border-top border-pink">
          <div class="row mt-5 ml-5">
              <div class="mr-4 h3 font-weight-bold"><%= my_dog.name %>ちゃんのカレンダー</div>
            <div class="m-0 p-0">
              <%= image_tag my_dog.get_dog_image(100,100) %>
            </div>
          </div>
          <%= month_calendar do |date| %>
            <!--カレンダーの日付に日記を記録済みの場合-->
            <% if Diary.where(diary_date: date.strftime("%Y年%-m月%-d日"), my_dog_id: my_dog.id ).exists? %>
              <!--日付選択で登録済の日記ページへ遷移する-->
              <%= link_to diary_path(my_dog.diaries.find_by(diary_date: date.strftime("%Y年%-m月%-d日")).id) do %>
                <!--該当の日付と愛犬IDでデータ検索-->
                <% diary = Diary.find_by(diary_date: date.strftime("%Y年%-m月%-d日"), my_dog_id: my_dog.id) %>
                <span class="text-success"><%= date.day %></span><br>
                <div class="row justify-content-center">
                  <div class="col-10">
                    <span class="text-dark"><%= image_tag('food.png') %> <%= diary.appetite_i18n %></span><br>
                    <span class="text-dark"><%= image_tag('dookie.png') %> <%= diary.excreta_i18n %></span><br>
                    <!--一日トータルの散歩距離-->
                    <% @total_dist1 = 0 %>
                    <!--一日トータルの散歩時間-->
                    <% @total_min = 0 %>
                    <% diary.strolls.all.each do |stroll| %>
                      <!--1回の散歩ごとの散歩距離（複数のポリラインの合計距離）-->
                      <% @total_dist2 = 0 %>
                      <% stroll.pins.all.each do |pin| %>
                        <% @total_dist2 += pin.distance %>
                      <% end %>
                      <% @total_dist1 += @total_dist2 %>
                      <% @total_min += stroll.time_of_stroll %>
                    <% end %>
                    <% if @total_min != 0 %>
                      <!--一日のトータル散歩時間が0分以外ならトータル時間、距離を表示する-->
                      <span class="text-dark"><%= image_tag('time.png') %> <%= @total_min %> 分</span><br>
                      <span class="text-dark"><%= image_tag('distance.png') %> <%= @total_dist1.to_i %> m</span>
                    <% else %>
                      <!--一日のトータル散歩時間が0分ならイメージと「散歩お休み」を表示する-->
                      <div class="m-0 p-0 media diaries-image1 jumbotron" style="width: 30px; height: 30px;"></div>
                      <div class="text-dark">散歩お休み</div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else %>
            <!--日記の記録が無ければ日記の新規登録ページへ遷移する（カレンダーで選択した日付データも送信する）-->
              <%= link_to new_diary_path(date: date.strftime("%Y年%-m月%-d日"), dog_id: my_dog.id) do %>
                <span class="text-success"><%= date.day %></span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <!--画面幅 768px 未満はアイコンのみ表示-->
    <div class="d-block d-md-none">
      <div class="row justify-content-center">
        <% if @user.my_dogs.length >= 2 %>
          <!--多頭飼いの方向けの表示-->
          <span class="pb-2">
            愛犬ごとにカレンダーが表示されます<br>
            それぞれのカレンダーの日付を選択して、<br>
            日記を作成してください<br>
          </span>
        <% else %>
          <!--一頭飼いの方向けの表示-->
          <span>
            カレンダーの日付を選択して、<br>
            日記を作成してください<br>
          </span>
        <% end %>
      </div>
      <div class="row my-3 justify-content-center">
        <!--アイコン紹介-->
        <span class="text-left">登録がある日には下記アイコンが表示されます</span>
        <div class="col-5 offset-1"><%= image_tag('food.png') %>：食欲</div>
        <div class="col-5"><%= image_tag('dookie.png') %>：排せつ</div>
        <div class="col-5 offset-1"><%= image_tag('time.png') %>：散歩時間</div>
        <div class="col-5"><%= image_tag('distance.png') %>：散歩距離</div>
      </div>
      <!--愛犬ごとのカレンダー表示-->
      <% @my_dogs.each do |my_dog| %>
        <div class="mb-4 border-top border-pink">
          <div class="row mt-3 ml-2 justify-content-end">
            <div class="col-12 h4 font-weight-bold"><%= my_dog.name %>ちゃんのカレンダー</div>
            <div class="col-4 m-0 p-0">
              <%= image_tag my_dog.get_dog_image(80,80) %>
            </div>
          </div>
          <%= month_calendar do |date| %>
            <!--カレンダーの日付に日記を記録済みの場合-->
            <% if Diary.where(diary_date: date.strftime("%Y年%-m月%-d日"), my_dog_id: my_dog.id ).exists? %>
              <!--日付選択で登録済の日記ページへ遷移する-->
              <%= link_to diary_path(my_dog.diaries.find_by(diary_date: date.strftime("%Y年%-m月%-d日")).id) do %>
                <!--該当の日付と愛犬IDでデータ検索-->
                <% diary = Diary.find_by(diary_date: date.strftime("%Y年%-m月%-d日"), my_dog_id: my_dog.id) %>
                <span class="text-success"><%= date.day %></span><br>
                <div class="row justify-content-center">
                  <div class="col-1 pl-0 pr-3"><%= image_tag('food.png') %></div>
                  <div class="col-1 pl-0"><%= image_tag('dookie.png') %></div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-1 pl-0 pr-3"><%= image_tag('time.png') %></div>
                  <div class="col-1 pl-0"><%= image_tag('distance.png') %></div>
                </div>
              <% end %>
            <% else %>
            <!--日記の記録が無ければ日記の新規登録ページへ遷移する（カレンダーで選択した日付データも送信する）-->
              <%= link_to new_diary_path(date: date.strftime("%Y年%-m月%-d日"), dog_id: my_dog.id) do %>
                <span class="text-success"><%= date.day %></span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if MyDog.where(user_id: @user.id).count >= 3 %>
      <div class="pr-3 text-center font-weight-bold">他の愛犬の表示はこちらから</div>
      <%= paginate @my_dogs %>
    <% end %>
  </div>
</div>