<div class="container_fuluid diary-image jumbotron m-0" style="width: 100%; height: 100%;">
  <div class="row diary-box mt-5 justify-content-center">
    <% if current_user.my_dogs.length >= 2 %>
      <!--多頭飼いの方向けの表示-->
      <span>
        愛犬ごとにカレンダーが表示されます<br>
        それぞれのカレンダーの日付を選択して、日記を作成してください<br>
      </span>
    <% else %>
      <!--一頭飼いの方向けの表示-->
      <span>
        カレンダーの日付を選択して、日記を作成してください<br>
      </span>
    <% end %>
  </div>
  <div class="row diary-box mt-3 justify-content-center">
    <!--アイコン紹介-->
    <span>
      <%= image_tag('food.png') %>：食欲、
      <%= image_tag('dookie.png') %>：排せつ、
      <%= image_tag('time.png') %>：散歩時間、
      <%= image_tag('distance.png') %>：散歩距離、
      <%= image_tag('speed.png') %>：散歩のスピード
    </span>
  </div>
  <!--愛犬ごとのカレンダー表示-->
  <% @my_dogs.each do |my_dog| %>
    <div class="mb-4 border-top border-pink">
      <div class="row diary-box mt-5 ml-5">
        <div class="col-xl-4 col-lg-5 col-md-7 col-9 h3 font-weight-bold"><%= my_dog.name %>ちゃんのカレンダー</div>
        <div class="col-lg-1 col-md-2 m-0 p-0">
          <%= image_tag my_dog.get_dog_image(100,100) %>
        </div>
      </div>
      <%= month_calendar do |date| %>
        <!--カレンダーの日付に日記を記録済みの場合-->
        <% if Diary.where(diary_date: date.strftime("%Y年%-m月%-d日"), my_dog_id: my_dog.id ).exists? %>
          <!--日付選択で登録済の日記ページへ遷移する-->
          <%= link_to diary_path(my_dog.diaries.find_by(diary_date: date.strftime("%Y年%-m月%-d日")).id) do %>
            <!--該当の日付と愛犬IDでデータ検索-->
            <% diary = Diary.find_by(diary_date: date.strftime("%Y年%-m月%-d日"), my_dog_id: my_dog.id) %>
            <span class="text-success"><%= date.day %></span><br>
            <span class="text-dark"><%= image_tag('food.png') %> <%= diary.appetite_i18n %></span><br>
            <span class="text-dark"><%= image_tag('dookie.png') %> <%= diary.excreta_i18n %></span><br>
            <!--一日トータルの散歩距離-->
            <% @total_dist1 = 0 %>
            <!--一日トータルの散歩時間-->
            <% @total_min = 0 %>
            <% diary.strolls.all.each do |stroll| %>
              <!--1回の散歩ごとの散歩距離（複数のポリラインの合計距離）-->
              <% @total_dist2 = 0 %>
              <% stroll.pins.all.each do |pin| %>
                <% @total_dist2 += pin.distance %>
              <% end %>
              <% @total_dist1 += @total_dist2 %>
              <% @total_min += stroll.time_of_stroll %>
            <% end %>
            <span class="text-dark"><%= image_tag('time.png') %> <%= @total_min %> 分</span><br>
            <span class="text-dark"><%= image_tag('distance.png') %> <%= @total_dist1.to_i %> m</span><br>
            <!--一日トータルの散歩時間が0より大きければ散歩スピードを算出する-->
            <% if @total_min > 0 %>
              <span class="text-dark"><%= image_tag('speed.png') %> <%= @total_dist1.to_i / @total_min %> m／分</span>
            <% end %>
          <% end %>
        <% else %>
        <!--日記の記録が無ければ日記の新規登録ページへ遷移する（カレンダーで選択した日付データも送信する）-->
          <%= link_to new_diary_path(date: date.strftime("%Y年%-m月%-d日"), dog_id: my_dog.id) do %>
            <span class="text-success"><%= date.day %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= paginate @my_dogs %>
</div>