<h1><%= @diary.diary_date %>の日記</h1>

<p>コメント</p>
<%= @diary.memo %>
<% @my_dogs.each do |my_dog| %>
  <%= my_dog.name %>
  <p>食欲</p>
  <%= @diary.appetite_i18n %>
  <p>排せつ</p>
  <%= @diary.excreta_i18n %>
  <%= @diary.age %>
<% end %>




<h4>写真の追加</h4>
<%= form_with model: @photo do |f| %>
  <div>
    <p>タイトル</p>
    <%= f.text_field :title %>
    <p>コメント</p>
    <%= f.text_area :body %>
    <p>写真</p>
    <%= f.file_field :image, accept: "image/*" %>
    <%= f.submit "保存" %>
  </div>
<% end %>