<%= link_to "散歩情報を登録する", new_stroll_path(diary_id: @diary.id, dog_id: @diary.my_dog.id) %>

<% @strolls.each do |stroll| %>
  <%= stroll.my_dog.name%>ちゃんの散歩
  <%= stroll.start_time.strftime("%H:%M") %>
  <%= stroll.end_time.strftime("%H:%M") %>
  <%= stroll.vitality_condition_i18n %>
  <%= stroll.my_dog.name%>ちゃん
  <%= stroll.road %>
  <%= stroll.speed %>m/分
  <%= stroll.memo %>
  <%= link_to "散歩ルートを登録する", new_pin_path(stroll_id: stroll.id) %>
<% end %>



<h1><%= @diary.diary_date %>の日記</h1>

<%= image_tag @diary.my_dog.get_dog_image(80,80) %>
<%= @diary.my_dog.name %>ちゃん
<p>今日のひとこと</p>
<%= @diary.memo %>
<%= image_tag('food.png') %>
<p>食欲</p>
<%= @diary.appetite_i18n %>
<%= image_tag('dooky.png') %>
<p>排せつ</p>
<%= @diary.excreta_i18n %>

<%= link_to "内容を変更する", edit_diary_path(@diary.id) %>


<p>写真一覧</p>
<% if @photos.present? %>
  <% @photos.each do |photo| %>
  <!--写真詳細画面へ遷移する-->
    <%= link_to photo_path(photo.id) do %>
      <%= image_tag photo.get_image(100,100) %>
      <%= photo.title %>
    <% end %>
  <% end %>
<% else %>
  <p>写真がありません</p>
<% end %>


<p>写真の追加</p>
<%= form_with model: @photo do |f| %>
  <div>
    <p>タイトル</p>
    <%= f.text_field :title %>
    <p>コメント</p>
    <%= f.text_area :body %>
    <p>写真</p>
    <%= f.file_field :image, accept: "image/*" %>
    <%= f.hidden_field :diary_id, :value => @diary.id %>
    <%= f.hidden_field :my_dog_id, :value => @diary.my_dog.id %>
    <%= f.submit "保存" %>
  </div>
<% end %>