<!--日記-->
<h1><%= @diary.my_dog.name %>ちゃんの<%= @diary.diary_date %>の日記</h1>
<%= image_tag @diary.my_dog.get_dog_image(80,80) %>
<p>今日のひとこと</p>
<%= @diary.memo %>
<%= image_tag('food.png') %>
<p>食欲</p>
<%= @diary.appetite_i18n %>
<%= image_tag('dooky.png') %>
<p>排せつ</p>
<%= @diary.excreta_i18n %>

<%= link_to "内容を変更する", edit_diary_path(@diary.id) %>


<p>写真一覧</p>
<% if @photos.present? %>
  <% @photos.each do |photo| %>
  <!--写真詳細画面へ遷移する-->
    <%= link_to photo_path(photo.id) do %>
      <%= image_tag photo.get_image(100,100) %>
      <%= photo.title %>
    <% end %>
  <% end %>
  <%= link_to "もっと見る", photos_path %>
<% else %>
  <p>写真がありません</p>
<% end %>

<%= paginate @photos %>


<p>写真の追加</p>
<%= form_with model: @photo do |f| %>
  <div>
    <p>タイトル</p>
    <%= f.text_field :title %>
    <p>コメント</p>
    <%= f.text_area :body %>
    <p>写真</p>
    <%= f.file_field :image, accept: "image/*" %>
    <%= f.hidden_field :diary_id, :value => @diary.id %>
    <%= f.hidden_field :my_dog_id, :value => @diary.my_dog.id %>
    <%= f.submit "保存" %>
  </div>
<% end %>

<%= link_to "散歩情報を登録する", new_stroll_path(diary_id: @diary.id, dog_id: @diary.my_dog.id) %>
<!--お散歩情報-->
<% @total = 0 %>
<% @strolls.each do |stroll| %>
  <%= stroll.my_dog.name%>ちゃんの散歩
  <p>元気の良さ</p>
  <%= stroll.vitality_condition_i18n %>
  <p>散歩メモ</p>
  <%= stroll.memo %>
  <p>開始時間</p>
  <%= stroll.start_time.strftime("%H:%M") %>
  <p>終了時間</p>
  <%= stroll.end_time.strftime("%H:%M") %>
  <%= link_to "散歩情報を変更する", edit_stroll_path(stroll.id) %>
  <% if stroll.pins.present? %>
    <%= link_to stroll_path(stroll.id) do %>
      <p>お散歩ルート</p>
      <%= stroll.pins.order(updated_at: :desc).first.title %>
    <% end %>
    <% stroll.pins.all.each do |pin| %>
      <% @total += pin.distance %>
    <% end %>
    <p>お散歩距離</p>
    <%= @total.to_i %> m
    <p>お散歩時間</p>
    <%= stroll.time_of_stroll %> 分
    <p>スピード</p>
    <%= @total.to_i / stroll.time_of_stroll %> m／分
    <%= link_to "お散歩ルートを地図で確認する", stroll_path(stroll.id) %>
  <% else %>
    <p>お散歩ルートを登録してください。</p>
    <%= link_to "散歩ルートを登録する", new_pin_path(stroll_id: stroll.id) %>
  <% end %>
<% end %>