<head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        width: 600px;
       }
    </style>
  </head>
  <body>
    <!--The div elements for the map and message -->
    <div id="map"></div>
    <div id="msg"></div>
    <script>
// Initialize and add the map
var map;
function initMap() {
  // The map, centered on Central Park
  const center = {lat: 40.774102, lng: -73.971734};
  const options = {zoom: 15, scaleControl: true, center: center};
  map = new google.maps.Map(
      document.getElementById('map'), options);
  // Locations of landmarks
  const dakota = {lat: 40.7767644, lng: -73.9761399};
  const frick = {lat: 40.771209, lng: -73.9673991};
  // The markers for The Dakota and The Frick Collection
  var mk1 = new google.maps.Marker({position: dakota, map: map});
  var mk2 = new google.maps.Marker({position: frick, map: map});
}
    </script>
    <!--Load the API from the specified URL --
    <remember to replace YOUR_API_KEY-->
    <script src="https://maps.googleapis.com/maps/api/js?
key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer>
</script>
  </body>




<% @strolls.each do |stroll| %>
  <%= stroll.start_time.strftime("%H:%M") %>
  <%= stroll.end_time.strftime("%H:%M") %>
  <%= stroll.vitality_condition_i18n %>
  <%= stroll.my_dog.name%>ちゃん
  <%= stroll.road %>
  <%= stroll.distance %>m
  <%= stroll.speed %>m/分
  <%= stroll.memo %>

      <% stroll.pins.each do |pin|%>
      ( function() {
        let markerLatLng = { lat: <%= pin.latitude %>, lng: <%= pin.longitude %> }; // 緯度経度のデータ作成
        let marker = new google.maps.Marker({
          position: markerLatLng,
          map: map
        });
      <% end %>

  <%= link_to "散歩ルートを登録する", new_pin_path(stroll_id: stroll.id) %>
<% end %>

<h1><%= @diary.diary_date %>の日記</h1>

<%= image_tag @diary.my_dog.get_dog_image(80,80) %>
<%= @diary.my_dog.name %>ちゃん
<p>今日のひとこと</p>
<%= @diary.memo %>
<%= image_tag('food.png') %>
<p>食欲</p>
<%= @diary.appetite_i18n %>
<%= image_tag('dooky.png') %>
<p>排せつ</p>
<%= @diary.excreta_i18n %>

<%= link_to "内容を変更する", edit_diary_path(@diary.id) %>


<p>写真一覧</p>
<% if @photos.present? %>
  <% @photos.each do |photo| %>
  <!--写真詳細画面へ遷移する-->
    <%= link_to photo_path(photo.id) do %>
      <%= image_tag photo.get_image(100,100) %>
      <%= photo.title %>
    <% end %>
  <% end %>
<% else %>
  <p>写真がありません</p>
<% end %>


<p>写真の追加</p>
<%= form_with model: @photo do |f| %>
  <div>
    <p>タイトル</p>
    <%= f.text_field :title %>
    <p>コメント</p>
    <%= f.text_area :body %>
    <p>写真</p>
    <%= f.file_field :image, accept: "image/*" %>
    <%= f.hidden_field :diary_id, :value => @diary.id %>
    <%= f.hidden_field :my_dog_id, :value => @diary.my_dog.id %>
    <%= f.submit "保存" %>
  </div>
<% end %>