<div class="container_fuluid mypage-image" style="width: 100%; min-height: 600px;">
  <div class="box-8">
    <h2 class="box-8 text-center border-bottom border-green-10 w-25">マイページ</h2>
    <div class="row justify-content-center">
      <div class="col-7 offset-2 px-0">
        <table class="box-8 table table-borderless my-3">
          <tr>
            <th class="col-3 py-1">氏名</th>
            <td class="py-1"><%= @user.last_name %><%= @user.first_name %></td>
          </tr>
          <tr>
            <th class="py-1">ユーザーネーム</th>
            <td class="py-1"><%= @user.user_name %></td>
          </tr>
          <tr>
            <th class="py-1">メールアドレス</th>
            <td class="py-1"><%= @user.email %></td>
            <td class="py-1 pr-5 row justify-content-center">
              <%= link_to "会員情報を変更する", information_edit_path(@user.id), class: "btn btn-pink font-weight-bold text-success" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <% @my_dogs.each do |my_dog| %>
      <div class="row justify-content-center">
        <div class="col-3 px-0">
        <%= image_tag my_dog.get_dog_image(250,250) %>
        </div>
        <div class="col-7">
          <table class="box-8 table table-borderless my-4">
            <tr>
              <th class="py-3"><%= my_dog.name %>ちゃんの誕生日</th>
              <td class="py-3"><%= my_dog.birthdate.strftime("%Y年%-m月%-d日") %></td>
            </tr>
            <tr>
              <th class="py-3"><%= my_dog.name %>ちゃんの年齢</th>
              <td class="py-3">
                <% months_old = (@date - my_dog.birthdate).to_i/30.416 %>
                <% years_old = (@date.strftime("%Y%m%d").to_i - my_dog.birthdate.strftime("%Y%m%d").to_i)/10000 %>
                <% if months_old < 1 %>
                  <p>生後1ヶ月未満</p>
                <% elsif years_old < 1 %>
                  <p>生後<%= months_old.to_i %>ヶ月</p>
                <% else %>
                  <%= years_old %>歳
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="py-3"><%= my_dog.name %>ちゃんのサイズ</th>
              <td class="py-3"><%= my_dog.size_i18n %></td>
            </tr>
            <tr>
              <th class="py-3"><%= my_dog.name %>ちゃんの人間年齢</th>
              <td class="py-3">
                <!--大型犬で1歳未満-->
                <% if my_dog.size == @big && years_old < 1 %>
                  12歳未満
                <!--大型犬で1歳以上-->
                <% elsif my_dog.size == @big && years_old >= 1 %>
                  <%= (years_old - 1)*7 +12 %>歳から<%= (years_old - 1)*7 +19 %>歳ぐらい
                <!--小型・中型犬で生後1ヶ月以下-->
                <% elsif my_dog.size != @big && months_old <= 1 %>
                  1歳未満
                <!--小型・中型犬で生後3ヶ月以下-->
                <% elsif my_dog.size != @big && months_old <= 3 %>
                  1歳から5歳ぐらい
                <!--小型・中型犬で生後6ヶ月以下-->
                <% elsif my_dog.size != @big && months_old <= 6 %>
                  5歳から9歳ぐらい
                <!--小型・中型犬で生後9ヶ月以下-->
                <% elsif my_dog.size != @big && months_old <= 9 %>
                  9歳から13歳ぐらい
                <!--小型・中型犬で1歳以下-->
                <% elsif my_dog.size != @big && years_old <= 1 %>
                  13歳から17歳ぐらい
                <!--小型・中型犬で1歳6ヶ月以下-->
                <% elsif my_dog.size != @big && months_old <= 18 %>
                  17歳から20歳ぐらい
                <!--小型・中型犬で2歳以下-->
                <% elsif my_dog.size != @big && years_old <= 2 %>
                  20歳から24歳ぐらい
                <!--小型・中型犬で3歳以上-->
                <% else %>
                  <%= (years_old - 2)*4 +24 %>歳から<%= (years_old - 2)*4 +28 %>歳ぐらい
                <% end %>
              </td>
              <td class="py-1 pr-5 row justify-content-center">
                <%= link_to "愛犬情報を変更する", edit_my_dog_path(my_dog.id), class: "btn btn-pink font-weight-bold text-success" %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    <% end %>
    <%= paginate @my_dogs %>
    <div class="row justify-content-center">
      <div class="col-2 box-8 offset-8 my-3">
        <%= link_to "愛犬情報を追加する", new_my_dog_path, class: "btn btn-pink font-weight-bold text-success" %>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-7 box-8">
        <span class="small text-right">愛犬年齢が1歳未満の場合、<br>
          月齢の計算は365日を30.416日で割って1ヶ月としていますので誤差があります。<br>
          ご了承ください。<br>
          人間年齢は、「犬の年齢を人年齢に換算する計算式（引用：京都中央動物病院HP）」を参考にしています。
        </span>
      </div>
    </div>
  </div>
</div>