<% if @path_id == 0 %>
  <div class="container_fuluid map-image jumbotron m-0" style="width: 100%; height: 100%;">
    <div class="about-box w-25 text-left" style="height: 40px;">
      <h3 class="ml-4 border-bottom border-success font-weight-bold" style="width: 200px;">散歩ルート見本</h3>
    </div>
    <style>
       /* 地図のサイズ */
      #map {
        height: 530px;
        width: 100%;
       }
    </style>

    <!--地図とメッセージの要素 -->
    <div id="map"></div>
    <div id="msg"></div>
    <script>
      // 初期マップの設定
      var map;
      function initMap() {
        // 地図の中心地
        const center = {lat: 35.44487884450651, lng:139.62308928897625 };
        const options = {zoom: 16, scaleControl: true, center: center};
        map = new google.maps.Map(
            document.getElementById('map'), options);
        // 地図で選択した地点の緯度経度
          const pin = []
          pin.push({lat: 35.44572877219444, lng: 139.62378010118806});
          pin.push({lat: 35.446099117474276, lng: 139.6236627852748});
          pin.push({lat: 35.44655668988745, lng: 139.62371183540827});
          pin.push({lat: 35.44647950961486, lng: 139.6234602364601});
          pin.push({lat: 35.446468786236814, lng: 139.62296662216815});
          pin.push({lat: 35.44552610975033, lng: 139.62234657513955});
          pin.push({lat: 35.44507891320344, lng: 139.62161466848204});
          pin.push({lat: 35.44500830299523, lng: 139.6213739097131});
          pin.push({lat: 35.444718015932885, lng: 139.62067089410783});
          pin.push({lat: 35.44455579084709, lng: 139.62068006005006});
          pin.push({lat: 35.44437547264336, lng: 139.62023738643495});
          pin.push({lat: 35.44400534458001, lng: 139.62043542457928});
          pin.push({lat: 35.44386298717938, lng: 139.62071500784185});
          pin.push({lat: 35.44444190570535, lng: 139.62255559765396});
          pin.push({lat: 35.4445842620821, lng: 139.62270703858786});
          pin.push({lat: 35.444783560586565, lng: 139.6233244516261});
          pin.push({lat: 35.4453097490541, lng: 139.62349651862618});
          pin.push({lat: 35.44535550869139, lng: 139.62338417944576});
          pin.push({lat: 35.445256362777734, lng: 139.62322503227352});
          pin.push({lat: 35.44535550869139, lng: 139.62269142116656});
          pin.push({lat: 35.445256362770735, lng: 139.62249014676843});
          pin.push({lat: 35.445100017043366, lng: 139.62241993478065});
          pin.push({lat: 35.444623351357116, lng: 139.6211607997281});
          pin.push({lat: 35.444539457905776, lng: 139.62111867253543});
          pin.push({lat: 35.444508951169816, lng: 139.6210531413313});
          pin.push({lat: 35.444165749646395, lng: 139.62124973489702});
          pin.push({lat: 35.44487884450651, lng: 139.62308928897625});
          // マーカーの位置
          var mk = new google.maps.Marker({position: pin[0], map: map});
          // ポリラインの描画
          let i;
          for (let i = 0; i < pin.length-1; i++){
            var line = new google.maps.Polyline({path: [pin[i], pin[i+1]], map: map});
          }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    <div class="row justify-content-center">
      <div class="map-box mt-3 w-75 text-center" style="height: 30px;">
        <span class="mr-5 h4 font-weight-bold border-bottom border-pink">お散歩距離 1490 m</span>
        <span class="ml-5 btn btn-pink mr-2 font-weight-bold text-success">散歩ルートを削除する</span>
      </div>
    </div>
  </div>
<!--日記見本を選択した場合-->



<% elsif @path_id == 1 %>
  <div class="container_fuluid diary-image jumbotron m-0" style="width: 100%; height: 100%;">
    <div class="row diary-box mt-5 justify-content-center">
      <div class="col-12">
        <h3 class="ml-4 border-bottom border-success" style="width: 200px;">カレンダー見本</h3>
        <div class="diary-box">
          <span>
            愛犬ごとにカレンダーが表示されます<br>
            それぞれのカレンダーの日付を選択して、日記を作成してください<br>
          </span>
        </div>
        <div class="row diary-box mt-3 justify-content-center">
          <!--アイコン紹介-->
          <span class="text-right">
            <%= image_tag('food.png') %>：食欲、
            <%= image_tag('dookie.png') %>：排せつ、
            <%= image_tag('time.png') %>：散歩時間、
            <%= image_tag('distance.png') %>：散歩距離、
            <%= image_tag('speed.png') %>：散歩のスピード
          </span>
        </div>
        <!--愛犬ごとのカレンダー表示-->
        <div class="mb-4 border-top border-pink">
          <div class="diary-box mt-5 ml-5">
            <span class="h3 font-weight-bold">レオちゃんのカレンダー</span>
          </div>
          <%= month_calendar do |date| %>
          <%  random = Random.new %>
            <span class="text-success"><%= date.day %></span><br>
            <!--それぞれの配列からランダムに出力-->
            <% food = @foods[random.rand(1..@foods.count-1)] %>
            <span class="text-dark"><%= image_tag('food.png') %> <%= food %></span><br>
            <% dookie = @dookies[random.rand(1..@dookies.count-1)] %>
            <span class="text-dark"><%= image_tag('dookie.png') %> <%= dookie %></span><br>
            <% time = @times[random.rand(1..@times.count-1)] %>
            <span class="text-dark"><%= image_tag('time.png') %> <%= time %> 分</span><br>
            <% distance = @distances[random.rand(1..@distances.count-1)] %>
            <span class="text-dark"><%= image_tag('distance.png') %> <%= distance %> m</span><br>
            <% speed = distance / time %>
            <span class="text-dark"><%= image_tag('speed.png') %> <%= speed %> m／分</span>
          <% end %>
        </div>
        <div class="mb-4 border-top border-pink">
          <div class="diary-box mt-5 ml-5">
            <span class="h3 font-weight-bold">こたろうちゃんのカレンダー</span>
          </div>
          <%= month_calendar do |date| %>
          <%  random = Random.new %>
            <span class="text-success"><%= date.day %></span><br>
            <!--それぞれの配列からランダムに出力-->
            <% food = @foods[random.rand(1..@foods.count-1)] %>
            <span class="text-dark"><%= image_tag('food.png') %> <%= food %></span><br>
            <% dookie = @dookies[random.rand(1..@dookies.count-1)] %>
            <span class="text-dark"><%= image_tag('dookie.png') %> <%= dookie %></span><br>
            <% time = @times[random.rand(1..@times.count-1)] %>
            <span class="text-dark"><%= image_tag('time.png') %> <%= time %> 分</span><br>
            <% distance = @distances[random.rand(1..@distances.count-1)] %>
            <span class="text-dark"><%= image_tag('distance.png') %> <%= distance %> m</span><br>
            <% speed = distance / time %>
            <span class="text-dark"><%= image_tag('speed.png') %> <%= speed %> m／分</span>
          <% end %>
        </div>
        <h3 class="ml-4 border-bottom border-success" style="width: 200px;">日記見本</h3>


      </div>
    </div>
  </div>


<% end %>