<div class="container_fuluid" style="width: 100%; min-height: 600px;">
  <div class="top-bg-image jumbotron position-relative" style="width: 100%; min-height: 600px;">
    <div class="row justify-content-lg-center">
      <div class="col-lg-6">
        <div class="top-box text-center" style="min-height: 350px;">
          <div class="row mt-4">
            <div class="col-lg-12">
              <h2 class="font-weight-bold">ようこそ、Loveドッグダイアリーへ！</h2>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-lg-12">
              <span class="mt-4">Loveドッグダイアリーでは、<br>
              わんちゃんとのお散歩ルートや距離、散歩時間、速度、<br>
              その時に撮った写真、その日の健康状態などを<br>
              日記として記録できます<br></span>
            </div>
          </div>
          <div class="row mt-4 justify-content-lg-center">
            <% if user_signed_in? %>
            <div class="col-lg-3 ml-5 top-balloon2">
              <div class="row">
                <div class="col-12">
              <strong><%= link_to "地図見本", about_path(path_id: 0), class: 'text-success' %></strong><br>
              </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
              <strong><%= link_to "日記見本", about_path(path_id: 1), class: 'text-success' %></strong>
            </div>
            <% else %>
            <div class="col-lg-3 mr-5 ml-0 top-balloon">
              <div class="row">
                <div class="col-12">
              <strong><%= link_to "新規登録", new_user_registration_path, class: 'text-success' %></strong><br>
              </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
              <strong><%= link_to "ログイン", new_user_session_path, class: 'text-success' %></strong>
              </div>
              </div>
            </div>
            <div class="col-lg-3 top-balloon2">
              <div class="row">
                <div class="col-12">
              <strong><%= link_to "地図見本", about_path(path_id: 0), class: 'text-success' %></strong><br>
              </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
              <strong><%= link_to "日記見本", about_path(path_id: 1), class: 'text-success' %></strong>
            </div>
            <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>