<div class="container_fuluid other-images jumbotron m-0" style="width: 100%; min-height: 600px;">
  <div class="d-none d-sm-block">
    <div class="row mx-0auto justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-9 col-sm-11 beige-box my-5">
        <div class="row justify-content-start">
          <div class="col-xl-4 col-sm-5 mt-5 ml-5">
            <h3 class="text-center border-bottom border-green-10">写真の編集</h3>
          </div>
        </div>
        <div class="row m-4 justify-content-center">
          <%= form_with model: @photo do |f| %>
            <table class="table">
              <tr>
                <th class="pl-4">タイトル</th>
                <td><%= f.text_field :title, style: "width: 100%" %></td>
              </tr>
              <tr>
                <th class="pl-4">コメント</th>
                <td><%= f.text_area :body, style: "width: 100%" %></td>
              </tr>
              <tr>
                <th class="pl-4">写真</th>
                <td><%= f.file_field :image, accept: "image/*" %></td>
              </tr>
              <tr>
                <th class="px-0 text-right"></th>
                <td class="px-0 text-right"><%= f.submit "変更する", class: "btn btn-green font-weight-bold text-lightpink" %></td>
              </tr>
            </table>
           <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block d-sm-none">
    <div class="row justify-content-center">
      <div class="beige-box m-0auto py-5 px-4" style="width: 90%;">
        <div class="row justify-content-center">
          <div class="col-10 m-4">
            <h3 class="text-center border-bottom border-green-10">写真の編集</h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <%= form_with model: @photo do |f| %>
            <div class="m-1 pl-4 font-weight-bold">タイトル</div>
            <div class="mb-4 mx-3 text-right"><%= f.text_field :title, style: "width: 90%" %></div>
            <div class="m-1 pl-4 font-weight-bold">コメント</div>
            <div class="mb-4 mx-3 text-right"><%= f.text_area :body, style: "width: 90%" %></div>
            <div class="m-1 pl-4 font-weight-bold">写真</div>
            <div class="mb-4 mx-3 text-right"><%= f.file_field :image, accept: "image/*" %></div>
            <div class="m-3 text-right"><%= f.submit "変更する", class: "btn btn-green font-weight-bold text-lightpink" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
