<div class="container_fuluid other-images jumbotron m-0" style="width: 100%; min-height: 600px;">
  <!--画面幅 576px 以上は以下の表示-->
  <div class="d-none d-sm-block">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-7 col-sm-10 beige-box my-5">
        <div class="row">
          <div class="col-6 m-4">
            <h3 class="text-center border-bottom border-green-10">お散歩ルート一覧</h3>
          </div>
        </div>
        <span class="pl-5 font-weight-bold text-pink"><%= flash[:notice] %></span>
        <div class="row m-4">
          <div class="col-lg-10 col-12">
            <% if @strolls.present? %>
              <!--お散歩ルートが1件以上の場合-->
              <span>
                ルート名をクリックすると、地図が確認できます<br>
                お散歩ルートの追加は日記から可能です
              </span>
            <% else %>
              <!--お散歩ルートが0件の場合-->
              <span>日記からお散歩ルートを登録すると一覧に表示されます</span>
            <% end %>
          </div>
        </div>
        <div class="row m-4 justify-content-center">
          <div class="col-7">
            <table class="table">
              <tr>
                <th class="px-0 text-left">お散歩ルート</th>
                <th class="px-0 text-right">お散歩距離</th>
              </tr>
              <% @strolls.each do |stroll| %>
                <% stroll.pins.pluck(:title).uniq.each do |title| %>
                  <tr>
                    <th class="px-0 text-left">
                      <%= link_to stroll_path(stroll.id) do %>
                        <div class="scroll" style="width: 150px; max-height: 40px;"><%= title %></div>
                      <% end %>
                    </th>
                    <td class="px-0 text-right">
                      <% @total = 0 %>
                      <!--散歩距離の計算-->
                      <% stroll.pins.where(title: title).each do |pin| %>
                        <% @total += pin.distance %>
                      <% end %>
                      <%= @total.to_i %> m
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>
            <%= paginate @strolls %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--画面幅 576px 未満は以下の表示-->
  <div class="d-block d-sm-none">
    <div class="row justify-content-center">
      <div class="col-11 beige-box my-3">
        <div class="row">
          <div class="col-10 m-4">
            <h3 class="text-center border-bottom border-green-10">お散歩ルート一覧</h3>
          </div>
        </div>
        <span class="pl-5 font-weight-bold text-pink"><%= flash[:notice] %></span>
        <div class="row mx-1">
          <div class="col-12">
            <% if @strolls.present? %>
              <!--お散歩ルートが1件以上の場合-->
              <span>
                ルート名をクリックすると、地図が確認できます<br>
                お散歩ルートの追加は日記から可能です
              </span>
            <% else %>
              <!--お散歩ルートが0件の場合-->
              <span>日記からお散歩ルートを登録すると一覧に表示されます</span>
            <% end %>
          </div>
        </div>
        <div class="row mt-3 justify-content-center">
          <div class="col-11">
            <table class="table">
              <tr>
                <th class="pl-3">お散歩ルート</th>
                <th class="pr-4 text-right">お散歩距離</th>
              </tr>
              <% @strolls.each do |stroll| %>
                <% stroll.pins.pluck(:title).uniq.each do |title| %>
                  <tr>
                    <th class="px-3 text-left">
                      <%= link_to stroll_path(stroll.id) do %>
                        <div class="scroll pr-0 pl-2" style="width: 100%; max-height: 40px;"><%= title %></div>
                      <% end %>
                    </th>
                    <td class="pr-5 text-right">
                      <% @total = 0 %>
                      <!--散歩距離の計算-->
                      <% stroll.pins.where(title: title).each do |pin| %>
                        <% @total += pin.distance %>
                      <% end %>
                      <%= @total.to_i %> m
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>
            <%= paginate @strolls %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
