<div class="container_fuluid other-images" style="width: 100%; min-height: 600px;">
  <div class="beige-box">
    <h1>散歩情報の登録</h1>
<%= form_with model: @stroll do |f| %>
  <p>散歩開始時間</p>
  <%= f.time_field :start_time %>
  <p>散歩終了時間</p>
  <%= f.time_field :end_time %>
  <p>散歩メモ</p>
  <%= f.text_area :memo %>
  <p>散歩中の元気の良さ</p>
  <%= f.radio_button :vitality_condition, @vitality_conditions.key(0) %>
  <%= f.label :slowly, Stroll.vitality_conditions_i18n[:slowly] %><br />
  <%= f.radio_button :vitality_condition, @vitality_conditions.key(1) %>
  <%= f.label :a_little_slowly, Stroll.vitality_conditions_i18n[:a_little_slowly] %><br />
  <%= f.radio_button :vitality_condition, @vitality_conditions.key(2) %>
  <%= f.label :usually, Stroll.vitality_conditions_i18n[:usually] %><br />
  <%= f.radio_button :vitality_condition, @vitality_conditions.key(3) %>
  <%= f.label :a_little_vitality, Stroll.vitality_conditions_i18n[:a_little_vitality] %><br />
  <%= f.radio_button :vitality_condition, @vitality_conditions.key(4) %>
  <%= f.label :quite_vitality, Stroll.vitality_conditions_i18n[:quite_vitality] %><br />
  <%= f.hidden_field :diary_id, :value => @diary_id %>
  <%= f.hidden_field :my_dog_id, :value => @dog_id %>
  <%= f.submit "保存する" %>
<% end %>
</div>
</div>