<style>
  /* 地図のサイズ */
  #map_show {
    height: 550px;
    width: 100%;
  }
</style>
<script>
  // 初期マップの設定
  let map_show;
  function initMap() {
    // 地図の中心地
    const center = {lat: <%= @pin.latitude %>, lng:<%= @pin.longitude %> };
    const options = {zoom: 15, scaleControl: true, center: center};
    map_show = new google.maps.Map(
      document.getElementById('map_show'), options);
    // マーカーの位置
    let road_pin = []
    let mk = []
    <% @pins.each_with_index do |pin,index| %>
      road_pin[<%= index %>] = {lat: <%= pin.latitude %>, lng: <%= pin.longitude %>};
      mk[<%= index %>] = new google.maps.Marker({position: road_pin[0], map: map_show});
      <% if index != 0 %>
        // ポリラインの描画
        new google.maps.Polyline({path: [road_pin[<%= index %>], road_pin[<%= index - 1 %>]], map: map_show});
      <% end %>
    <% end %>
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>

<!--地図とメッセージの要素 -->
<div class="container_fuluid map-image m-0">
  <div id="map_show"></div>
  <div class="box-8 p-5">
    <% pins = @pins.sum(:distance).to_i %>
    <!--画面幅768px以上の場合-->
    <div class="d-none d-md-block row justify-content-center">
      <div class="box-8 mt-3 text-center">
        <span class="mr-5 h4 font-weight-bold border-bottom border-pink-medium">お散歩距離 <%= pins %> m</span>
        <span class="ml-5 mr-2 btn btn-pink font-weight-bold"><%= link_to "散歩ルートを削除する", pins_destroy_all_path(stroll_id: @stroll.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "text-success" %></span>
      </div>
    </div>
    <!--画面幅768px未満の場合-->
    <div class="d-block d-md-none">
      <div class="row justify-content-center">
        <div class="box-8 mt-3 text-center">
          <span class="h4 font-weight-bold border-bottom border-pink-medium">お散歩距離 <%= pins %> m</span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="box-8 mt-3 text-center">
          <span class="btn btn-pink font-weight-bold"><%= link_to "散歩ルートを削除する", pins_destroy_all_path(stroll_id: @stroll.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "text-success" %></span>
        </div>
      </div>
    </div>
  </div>
</div>
