<div class="container_fuluid map-image m-0" style="width: 100%; height: 100%;">
  <div class="box-8 p-5" style="width: 100%; height: 100%;">
    <style>
       /* 地図のサイズ */
      #map {
        height: 550px;
        width: 100%;
       }
    </style>
  
    <!--地図とメッセージの要素 -->
    <div id="map"></div>
    <div id="msg"></div>
    <script>
      // 初期マップの設定
      var map;
      function initMap() {
        // 地図の中心地
        const center = {lat: <%= @pin.latitude %>, lng:<%= @pin.longitude %> };
        const options = {zoom: 15, scaleControl: true, center: center};
        map = new google.maps.Map(
            document.getElementById('map'), options);
        // マーカーの位置
        let road_pin = []
        let mk = []
        <% @pins.each_with_index do |pin,index| %>
          road_pin[<%= index %>] = {lat: <%= pin.latitude %>, lng: <%= pin.longitude %>};
          mk[<%= index %>] = new google.maps.Marker({position: road_pin[<%= index %>], map: map});
          <% if index != 0 %>
          // ポリラインの描画
            new google.maps.Polyline({path: [road_pin[<%= index %>], road_pin[<%= index - 1 %>]], map: map});
          <% end %>
        <% end %>
  
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    <div class="row justify-content-md-center">
      <div class="box-8 mt-3 w-75 text-center" style="height: 30px;">
        <% @total = 0 %>
        <% @pins.each do |pin| %>
          <% @total += pin.distance %>
        <% end %>
        <span class="mr-5 h4 font-weight-bold border-bottom border-pink-medium">お散歩距離 <%= @total.to_i %> m</span>
        <span class="ml-5 btn btn-pink mr-2 font-weight-bold"><%= link_to "散歩ルートを削除する", pins_destroy_all_path(stroll_id: @stroll.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "text-success" %></span>
      </div>
    </div>
  </div>
</div>
