<style>
   /* Set the size of the div element that contains the map */
  #map {
    height: 400px;
    width: 500px;
   }
</style>

<!--The div elements for the map and message -->
<div id="map"></div>
<div id="msg"></div>
<script>
// 初期マップの設定
var map;
function haversine_distance(mk1, mk2) {
    var R = 6371.0710; // Radius of the Earth in kilometers
    var rlat1 = mk1.position.lat() * (Math.PI/180);
     // Convert degrees to radians
    var rlat2 = mk2.position.lat() * (Math.PI/180);
     // Convert degrees to radians
    var difflat = rlat2-rlat1; // Radian difference (latitudes)
    var difflon = (mk2.position.lng()-mk1.position.lng())
                * (Math.PI/180); // Radian difference (longitudes)

    var d = 2 * R
    * Math.asin(Math.sqrt(Math.sin(difflat/2)*Math.sin(difflat/2)
    +Math.cos(rlat1)*Math.cos(rlat2)
    *Math.sin(difflon/2)*Math.sin(difflon/2)));
    return d;
}
function initMap() {
  // The map, centered on Central Park
  const center = {lat: <%= @pin.latitude %>, lng:<%= @pin.longitude %> };
  const options = {zoom: 15, scaleControl: true, center: center};
  map = new google.maps.Map(
      document.getElementById('map'), options);
  // Locations of landmarks
  let road_pin = []
  let mk = []
  <% @pins.each_with_index do |pin,index| %>
    road_pin[<%= index %>] = {lat: <%= pin.latitude %>, lng: <%= pin.longitude %>};

  // The markers for The Dakota and The Frick Collection
    mk[<%= index %>] = new google.maps.Marker({position: road_pin[<%= index %>], map: map});

    <% if index != 0 %>
      new google.maps.Polyline({path: [road_pin[<%= index %>], road_pin[<%= index - 1 %>]], map: map});

      var distance = haversine_distance(mk[<%= index %>], mk[<%= index - 1 %>]);
      document.getElementById('msg').innerHTML
        = "散歩の距離: " + distance.toFixed(2)*1000 + " m";

    <% end %>
  <% end %>

}
</script>

<%= link_to "散歩ルートを削除する", pin_path(@pin.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<!--ここまで-->

    <!--Load the API from the specified URL --
    <remember to replace YOUR_API_KEY-->
<script src="https://maps.googleapis.com/maps/api/js?
key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer>
</script>








<style>
  /* Set the size of the div element that contains the map */
  #map {
    height: 400px;
    width: 600px;
   }
</style>

  <!--The div elements for the map and message -->
<div id="map"></div>
<div id="msg"></div>
<script>
// 初期マップの設定
var map;
function haversine_distance(mk1, mk2) {
    var R = 6371.0710; // Radius of the Earth in kilometers
    var rlat1 = mk1.position.lat() * (Math.PI/180);
     // Convert degrees to radians
    var rlat2 = mk2.position.lat() * (Math.PI/180);
     // Convert degrees to radians
    var difflat = rlat2-rlat1; // Radian difference (latitudes)
    var difflon = (mk2.position.lng()-mk1.position.lng())
                * (Math.PI/180); // Radian difference (longitudes)

    var d = 2 * R
    * Math.asin(Math.sqrt(Math.sin(difflat/2)*Math.sin(difflat/2)
    +Math.cos(rlat1)*Math.cos(rlat2)
    *Math.sin(difflon/2)*Math.sin(difflon/2)));
    return d;
}
function initMap() {
  // The map, centered on Central Park
  const center = {lat:<%=  @lat_c %>, lng: <%= @lng_c %>};
  const options = {zoom: 15, scaleControl: true, center: center};
  map = new google.maps.Map(
      document.getElementById('map'), options);
  // Locations of landmarks
  const dakota = {lat: <%= @lat %>, lng: <%= @lng %>};
  const frick = {lat: 40.771209, lng: -73.9673991};
  const museum = {lat: <%= @lat_m %>, lng: <%= @lng_m %>};
  // The markers for The Dakota and The Frick Collection
  var mk1 = new google.maps.Marker({position: dakota, map: map});
  var mk2 = new google.maps.Marker({position: frick, map: map});
  var mk3 = new google.maps.Marker({position: museum, map: map});

    // Calculate and display the distance between markers
  var distance = haversine_distance(mk1, mk2);
  document.getElementById('msg').innerHTML
      = "マーカー間の距離: " + distance.toFixed(2) + " km.";

  // Draw a line showing the straight distance between the markers
  var line = new google.maps.Polyline({path: [dakota, frick], map: map});

  //mapをクリックしたときのイベントを設定
       google.maps.event.addListener(map, 'click', mylistener);

       //クリックしたときの処理
       function mylistener(event){
              //marker作成
              var marker = new google.maps.Marker();
              //markerの位置を設定
              //event.latLng.lat()でクリックしたところの緯度を取得
              marker.setPosition(new google.maps.LatLng(event.latLng.lat(), event.latLng.lng()));
              //marker設置
              marker.setMap(map);
       }
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?
key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer>
</script>
